<fieldset ng-disabled=true>
<div ng-include="'app/template/section-0.html'"></div>
<div ng-include="'app/template/section-1.html'"></div>
<div ng-include="'app/template/section-2.html'"></div>
<div ng-include="'app/template/section-3.html'"></div>
<div ng-include="'app/template/section-4.html'"></div>
<div ng-include="'app/template/section-5.html'"></div>
<div ng-include="'app/template/section-6.html'"></div>
<div ng-include="'app/template/section-7.html'"></div>
</fieldset>
<div class="control">
	<button class="btn btn-primary pull-left" ui-sref="form.section0" >Back</button>
	<button class="btn btn-primary pull-right" type="submit" >Submit</button>
</div>


